.home-testimonial{/*background-color: orange;*/background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(../image/background.jpeg);height: 380px}.home-testimonial-bottom{background-color: #f8f8f8;transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top: 20px;margin-bottom: 0px;position: relative;height: 130px;top: 190px}.home-testimonial h3{color: var(--orange);font-size: 14px;font-weight: 500;text-transform: uppercase}.home-testimonial h2{color: white;font-size: 28px;font-weight: 700}.testimonial-inner{position: relative;top: -174px}.testimonial-pos{position: relative;top: 24px}.testimonial-inner .tour-desc{border-radius: 5px;padding: 40px}.color-grey-3{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}.testimonial-inner img.tm-people{width: 60px;height: 60px;-webkit-border-radius: 50%;border-radius: 50%;-o-object-fit: cover;object-fit: cover;max-width: none}.link-name{font-family: "Montserrat", Sans-serif;font-size: 14px;color: #6c83a2}.link-position{font-family: "Montserrat", Sans-serif;font-size: 12px;color: #6c83a2}


/* Establishers CSS */
*,
*::before,
*::after{
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
    line-height: 1.15;
}
body{
    font-family: 'lato', sans-serif;
    color: #454545;
    font-weight: 300;
    background: #ffffff;
}
a{
    color: #333333;
    font-weight: 400;
    outline: none;
    text-decoration: none;
    transition: 0.5s;
}
a:hover,
a:focus{
    outline: none;
    text-decoration: none;
}
p{
    padding: 0;
    margin: 0 0 15px 0;
    color: #454545;
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0 0 15px 0;
    color: #333333;
    font-weight: 700px;
}
img{
    width: 100%;
    height: auto;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 80px;
    margin-top: 40px;
    text-align: center;
}
.section-title h1{
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 5px;
    position: relative;
}
.section-title h1::before{
    content: '';
    left: 0;
    position: absolute;
    height: 3px;
    right: 32%;
    background-color: #50c5fc;
    bottom: -5px;

}
.container .section-title h1::before{
    left: 30%;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.column{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 100%;
    max-width: 100%;
}
.founder{
    margin-bottom:30px ;
}
.founder .founder-img{
    position: relative;
    font-size: 0;
    text-align: center;
}
.founder .founder-img img{
    width: 160px;
    height: auto;
    border-radius: 100%;
    border: 20px solid #f3f4fa;
}

.founder .founder-content{
    padding: 80px 20px 20px 20px;
    margin-top: -80px;
    text-align: center;
    background: #f3f4fa;
    border-radius: 10px;
}
.founder .founder-content h2{
font-size: 25px;
font-weight: 400;
letter-spacing: 2px;
}
.founder .founder-content h3{
    font-size: 16px;
    font-weight: 300;
}
.founder .founder-content h4{
    font-size: 16px;
font-weight: 300;
letter-spacing: 1px;
font-style: italic;
margin-bottom: 0;
}
.founder .founder-content p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.founder .founder-social{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 25px;
    top: 0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, .6);
    transition: all .3s;
    font-size: 0;
    z-index: 1;
    opacity: 0;
}
.founder:hover .founder-social{
    opacity: 1;
}
.founder .founder-social a{
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-right: 5px ;
    padding: 11px 0 10px 0;
    font-size: 12px;
    font-weight: 300px;
    line-height: 16px;
    text-align: center;
    color: orange;
    border-radius: 20px;
    transition: all .3s;
    margin-top: 50px;
}
.founder .founder-social a.social-li{
    background: yellow;
    width: 40px;
    height: 40px;
}
.founder .founder-social a.social-in{
    background: yellow;
    width: 40px;
    height: 40px;
}

.founder .founder-social a:last-child{
    margin-right: 0;
}
.founder:hover .founder-social a{
    margin-top: 0;
}
.founder .founder-social a:hover{
    background: #222222;
}


/* Mobile Responsive */

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
    .column{
        max-width: 50%;
    }
}
@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .column{
        max-width: 33.333333%;
    }
}
@media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .column{
        max-width: 25%;
    }
}
@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
   
}






/* New One Practice CSS for Sliding Features */
/* Importing fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*background: linear-gradient(to right, #101c81, #2a6ba3);*/
    min-height: 100vh;
}

.owl-carousel .owl-item {
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item .card {
    padding: 30px;
    position: relative;
}

.owl-carousel .owl-stage-outer {
    overflow-y: auto !important;
    padding-bottom: 40px;
}

.owl-carousel .owl-item img {
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.owl-carousel .owl-item .card .name {
    position: absolute;
    bottom: -20px;
    left: 33%;
    color: #101c81;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: aquamarine;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    box-shadow: 2px 3px 15px #3c405a;
}

.owl-carousel .owl-item .card {
    opacity: 0.2;
    transform: scale3d(0.8, 0.8, 0.8);
    transition: all 0.3s ease-in-out;
}

.owl-carousel .owl-item.active.center .card {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.owl-carousel .owl-dots {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.owl-theme .owl-dots .owl-dot span {
    height: 20px;
    background: #2a6ba3 !important;
    border-radius: 2px !important;
    opacity: 0.8;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    height: 13px;
    width: 13px;
    opacity: 1;
    transform: translateY(2px);
    background: #83b8e7 !important;
}

@media(min-width: 480.6px) and (max-width: 575.5px) {
    .owl-carousel .owl-item .card .name {
        left: 24%;
    }
}

@media(max-width: 360px) {
    .owl-carousel .owl-item .card .name {
        left: 30%;
    }
} 


.testimonial_section {
    display: block;
    overflow: hidden;
  }
  .testimonial_section:after {
    display: block;
    clear: both;
    content: "";
  }
  .testimonial_section .about_content {
    background-color: #020d26;
    padding-top: 77px;
    padding-right: 210px;
    padding-bottom: 62px;
    position: relative;
  }
  .testimonial_section .about_content .background_layer {
    background-color: #020d26;
    width: auto;
    margin-left: -200px;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .testimonial_section .about_content .layer_content {
    position: relative;
    z-index: 9;
    height: 100%;
  }
  .testimonial_section .about_content .layer_content .section_title {
    margin-bottom: 24px;
    position: relative;
  }
  .testimonial_section .about_content .layer_content .section_title:after {
    display: block;
    clear: both;
    content: "";
  }
  .testimonial_section .about_content .layer_content .section_title h5 {
    color: #fff;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #818a8f;
    margin-top: -5px;
    margin-bottom: 6px;
  }
  .testimonial_section .about_content .layer_content .section_title h2 {
    font-family: "Titillium Web";
    font-weight: 300;
    font-size: 45px;
    line-height: 50px;
    padding-bottom: 51px;
    margin-bottom: 0px;
    color: #fff;
  }
  .testimonial_section .about_content .layer_content .section_title h2 strong {
    font-weight: 600 !important;
    width: 100%;
    display: block;
  }
  .testimonial_section .about_content .layer_content .section_title .heading_line {
    position: relative;
  }
  .testimonial_section .about_content .layer_content .section_title .heading_line span {
    transition: all 0.5s ease-in-out 0s;
    position: relative;
  }
  .testimonial_section .about_content .layer_content .section_title .heading_line span:after {
    content: "";
    right: auto;
    left: 69px;
    position: absolute;
    bottom: 28px;
    width: 17px;
    margin-left: 0;
    border-bottom-width: 3px;
    border-bottom-color: #cacaca;
    border-bottom-style: solid;
  }
  .testimonial_section .about_content .layer_content .section_title .heading_line:after {
    content: "";
    left: 1%;
    margin-left: 0;
    position: absolute;
    bottom: 28px;
    width: 59px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #ff5e14;
  }
  .testimonial_section .about_content .layer_content .section_title p {
    color: #fff;
    margin: 0 0 45px;
  }
  .testimonial_section .about_content .layer_content a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s;
  }
  .testimonial_section .about_content .layer_content a i {
    font-size: 18px;
    vertical-align: middle;
  }
  .testimonial_section .about_content .layer_content a:hover {
    color: #ff5e14;
  }
  .testimonial_section .testimonial_box {
    margin-top: 60px !important;
    position: relative;
  }
  .testimonial_section .testimonial_box .testimonial_container {
    background-color: #ff5e14;
    margin-left: -170px !important;
    position: relative;
  }
  .testimonial_section .testimonial_box .testimonial_container .background_layer {
    background-color: #ff5e14;
    width: auto;
    margin-right: -200px;
    right: 0;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content {
    position: relative;
    z-index: 9;
    height: 100%;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel {
    display: block;
    position: relative;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials {
    margin: 10px 0 10px 0;
    padding: 62px 0px 72px 50px;
    position: relative;
    text-align: center;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
    margin-left: 150px;
    margin-top: 69px;
    padding: 45px 40px 45px 40px;
    z-index: 1;
    position: relative;
    background-color: #fff;
    transition: all 0.5s ease-in-out 0s;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption {
    margin-bottom: 15px;
    position: relative;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption:after {
    content: "";
    width: 30px;
    display: block;
    height: 2px;
    text-align: center;
    left: 46%;
    margin-top: 6px;
    background-color: #ff5e14;
    position: absolute;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption h6 {
    padding-top: 0;
    margin-bottom: -5px;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    color: #020d26;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content .testimonial_caption span {
    font-size: 12px;
    color: #9f9f9f;
    margin: 0;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .testimonial_content p {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #5d6576;
    font-style: italic;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img {
    border: none;
    position: absolute;
    top: 2px;
    width: 500px;
    left: 60px;
    top: 75px;
  }
  .testimonial_section .testimonial_box .testimonial_container .layer_content .testimonial_owlCarousel .testimonials .images_box .testimonial_img img {
    border: 10px solid #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    width: 35%;
  }
  .testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev {
    position: absolute;
    top: 165px;
    right: 42px;
    border-radius: 0;
    background: #ff5e14;
    display: block;
    outline: 0;
    width: 34px;
    line-height: 34px;
    height: 34px;
    color: #fff;
    font-size: 23px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
  }
  .testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-prev:hover {
    background: #020d26;
  }
  .testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next {
    position: absolute;
    top: 165px;
    right: 5px;
    border-radius: 0;
    display: block;
    background: #ff5e14;
    outline: 0;
    width: 34px;
    text-align: center;
    line-height: 34px;
    height: 34px;
    color: #fff;
    font-size: 23px;
    margin-top: -20px;
    transition: all 0.3s ease-in-out;
  }
  .testimonial_section .testimonial_box .testimonial_container .owl-nav .owl-next:hover {
    background: #020d26;
  }
  
  @media all and (max-width: 991px) {
    .testimonial_section .about_content {
      padding-right: 15px !important;
    }
    .testimonial_section .about_content .background_layer {
      width: 200% !important;
    }
    .testimonial_section .testimonial_box {
      margin-top: 0 !important;
    }
    .testimonial_section .testimonial_box .background_layer {
      width: 200% !important;
      margin-left: -200px;
    }
    .testimonial_section .testimonial_box .about_content {
      padding-left: 15px !important;
      padding-right: 15px !important;
      margin-top: 28% !important;
    }
    .testimonial_section .testimonial_box .testimonial_container {
      margin-left: -15px !important;
    }
    .testimonial_section .testimonial_box .testimonial_container .testimonials {
      margin: 0px 0 20px 0;
    }
    .testimonial_section .testimonial_box .testimonial_container .testimonials .testimonial_content {
      margin-left: -36px !important;
    }
    .testimonial_section .testimonial_box .testimonial_container .testimonials .images_box {
      display: none;
    }
  }